@tailwind base;
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
@tailwind components;

.react-calendar {

  @apply w-full rounded-lg;
}

.react-calendar__navigation {
  @apply bg-white !flex justify-evenly mb-3 ;
}

.react-calendar__navigation__prev2-button, 
.react-calendar__navigation__next2-button  {
  @apply !hidden;
}
.react-calendar__tile {

  @apply text-sm font-black !bg-white p-0 h-12 w-12 max-w-12 rounded-full ;
}
.react-calendar__tile:disabled {

  @apply w-full !bg-gray-400 rounded-full text-white;
}





.react-calendar__tile:hover {


  @apply text-sm text-white !bg-blue-500  p-0 h-12 w-12 max-w-12 rounded-full ;
}

.react-calendar__tile:disabled:hover {

  @apply w-full !bg-gray-400 rounded-full text-white;
}

.react-calendar__tile--active {

  @apply text-sm text-black !bg-blue-600  p-0 h-12 w-12 max-w-12 rounded-full;
}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply text-sm text-black !bg-blue-700  p-0 h-12 w-12 max-w-12 rounded-full;
}

.react-calendar__month-view__days{

  @apply rounded-sm  my-2 font-black !grid  grid-cols-7 place-items-center gap-1;
}

.react-calendar__navigation__arrow{
  @apply !bg-blue-200 !text-4xl;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button  {

@apply !bg-black !text-white !rounded-xl !h-12 !w-12 !text-4xl  ;
}

.react-calendar__navigation__label__labelText{
  @apply !uppercase !text-teal-700 !font-black !text-xl sm:!text-4xl;
}

.react-calendar__navigation__label {

@apply !uppercase !text-teal-700 !font-black !text-xl sm:!text-4xl;
} 

.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
  @apply text-black;
}

.react-calendar__month-view__weekdays {

  @apply my-2 font-black uppercase;
}

.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  @apply text-sm text-teal-600 bg-blue-600  p-0 h-12 w-12 max-w-12 rounded-full;
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-sm text-teal-600 bg-blue-600  p-0 h-12 w-12 max-w-12 rounded-full;
}

.react-calendar__year-view__months{
  @apply !grid grid-cols-4  place-items-center gap-1;
}

.react-calendar__year-view__months__month{
  @apply text-sm  w-24 ;
}
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* LIGHT MODE + GENERAL */

/* 
/* tailwind uppp */
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: unset;
  text-decoration: unset;
  -webkit-text-decoration: unset;
  -webkit-text-decoration: unset;
  text-decoration: unset !important;
}



